- enabled = Gitlab.config.mattermost.enabled

.info-well
  .well-segment
    %p
      = s_("MattermostService|This service allows users to perform common operations on this project by entering slash commands in Mattermost.")
      = link_to help_page_path('user/project/integrations/mattermost_slash_commands.md'), target: '_blank' do
        = _("View documentation")
        = sprite_icon('external-link')
    %p.inline
      = s_("MattermostService|See list of available commands in Mattermost after setting up this service, by entering")
    %kbd.inline /&lt;trigger&gt; help
    - if !enabled && @service.project_level?
      = render 'projects/services/mattermost_slash_commands/detailed_help', subject: @service

- if enabled && @service.project_level?
  = render 'projects/services/mattermost_slash_commands/installation_info', subject: @service
